<a href="https://colab.research.google.com/github/sj7890/poer-bi-project/blob/main/pnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Take three numbers as an input from user. Find the product and sum of all the three numbers provided.
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
#sum of product of all three numbers
sum=a+b+c
print("sum of product of three numbers: ", sum)

Enter the first number: 50
Enter the second number: 60
Enter the third number: 40
sum of product of three numbers:  150

In [10]:
#Take three inputs from user and find the datatype of all three user input.
def check_user_input(input):
    try:
        # Convert it into integer
        val = int(input)
        print("Input is an integer number. Number = ", val)
    except ValueError:
        try:
            # Convert it into float
            val = float(input)
            print("Input is a float  number. Number = ", val)
        except ValueError:
            print("No.. input is not a number. It's a string")


input1 = input("Enter your Age ")
check_user_input(input1)

input2 = input("Enter any number ")
check_user_input(input2)

input2 = input("Enter the last number ")
check_user_input(input2)

Enter your Age 25
Input is an integer number. Number =  25
Enter any number 50.12
Input is a float  number. Number =  50.12
Enter the last number shubham
No.. input is not a number. It's a string

In [15]:
#Take users full name as an input. Try to find first name of user from input provided.
str=input("Enter the full name: ")
fname=input("Enter the name:")
print("the first name is:", fname)

Enter the full name: shubham jeevan jadhav
Enter the name:shubham
the first name is: shubham

In [17]:
from re import TEMPLATE
# Take 2 numbers from user and swap the values of variables into each other.
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
#creat tempory variable to store and swap value
temp=a
a=b
b=temp
print("The first number after swaping: {}".format(a))
print("The second number after swaping: {}".format(b))

Enter the first number: 20
Enter the second number: 50
The first number after swaping: 50
The second number after swaping: 20

In [18]:

#Take three inputs from user: integer, float and string: find all the functions that are associated with each object

In [29]:
c=complex(input("Enter the number : "))
l=list(input("Enter the list of item: "))
a=int(input("Enter the first name: "))
b=float(input("Enter the second number: "))
s=input("Enter the name: ")
print("Enter the choice: ", type(a),type(b),type(s),type(c),type(l))

Enter the number : 5+4j
Enter the list of item: [apple,orange, graphes, coconut]
Enter the first name: 50
Enter the second number: 6.3
Enter the name: fantigo
Enter the choice:  <class 'int'> <class 'float'> <class 'str'> <class 'complex'> <class 'list'>