<a href="https://colab.research.google.com/github/sj7890/poer-bi-project/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
import numpy as np

In [9]:
df1=np.random.rand(9,5)

In [6]:
df1

array([[7.58529678e-01, 8.67097949e-01, 5.13960903e-01, 1.83770870e-02,
        8.52860983e-01],
       [6.28827936e-01, 9.97190552e-01, 4.60893446e-01, 8.07676080e-01,
        4.59964716e-01],
       [9.40865891e-01, 5.56836957e-01, 1.86449819e-01, 8.52450748e-01,
        8.67913919e-02],
       [7.86653813e-01, 7.56859292e-01, 3.73399178e-01, 3.52362852e-02,
        1.63247107e-01],
       [9.98439602e-01, 9.09377196e-01, 1.33412792e-01, 2.84071721e-01,
        4.59449751e-01],
       [1.55677910e-01, 2.48105168e-04, 1.42857465e-02, 3.39357912e-01,
        1.74921069e-01],
       [1.68678723e-01, 5.10975073e-01, 6.56853682e-02, 2.76247349e-01,
        8.62024332e-03],
       [9.17242685e-01, 3.43538004e-01, 2.89117472e-01, 6.07610345e-01,
        6.61033365e-02],
       [9.69576848e-01, 5.12077510e-02, 6.30792695e-01, 6.10361576e-01,
        3.30792618e-01]])

In [16]:
df1=pd.DataFrame(np.random.rand(9,5),index=['a','b','c','d','e','f','g','k','l'],columns=['A','B','C','D','E'])

df1

          A         B         C         D         E
a  0.201835  0.596130  0.242312  0.814748  0.668704
b  0.883217  0.393701  0.747346  0.222043  0.272913
c  0.335009  0.024861  0.650248  0.540424  0.194008
d  0.491732  0.098364  0.625515  0.194306  0.937726
e  0.708998  0.679807  0.409181  0.471160  0.334359
f  0.581515  0.086354  0.172596  0.473184  0.063481
g  0.631599  0.035852  0.782309  0.030522  0.793385
k  0.777982  0.334152  0.503591  0.103219  0.495709
l  0.620267  0.268964  0.608746  0.167404  0.526769

In [17]:
#label based indexing
#display all rows of B,C,E COLUMN
df1.loc[:,["B","C","E"]]

          B         C         E
a  0.596130  0.242312  0.668704
b  0.393701  0.747346  0.272913
c  0.024861  0.650248  0.194008
d  0.098364  0.625515  0.937726
e  0.679807  0.409181  0.334359
f  0.086354  0.172596  0.063481
g  0.035852  0.782309  0.793385
k  0.334152  0.503591  0.495709
l  0.268964  0.608746  0.526769

In [19]:
df1.loc["a":"f",["A","C","D","E"]]

          A         C         D         E
a  0.201835  0.242312  0.814748  0.668704
b  0.883217  0.747346  0.222043  0.272913
c  0.335009  0.650248  0.540424  0.194008
d  0.491732  0.625515  0.194306  0.937726
e  0.708998  0.409181  0.471160  0.334359
f  0.581515  0.172596  0.473184  0.063481

In [50]:
df1.iloc[[1,5,4,],[0,2,3]]

          A         C         D
b  0.883217  0.747346  0.222043
f  0.581515  0.172596  0.473184
e  0.708998  0.409181  0.471160

In [51]:
df1.iloc[[0,7,8],[0,4]]

          A         E
a  0.201835  0.668704
k  0.777982  0.495709
l  0.620267  0.526769

Handling null values

fillna() ->  replace null values with other value

In [65]:
df2={'Name':['Tom','James','Ricky','Messi','Steve',np.nan,'Jack'],
    'Age':pd.Series([25,26,np.nan,23,np.nan,29,23]),
    'Rating':pd.Series([4.23,3.24,3.98,2.56,np.nan,4.6,np.nan])}

In [66]:
df2

{'Name': ['Tom', 'James', 'Ricky', 'Messi', 'Steve', nan, 'Jack'],
 'Age': 0    25.0
 1    26.0
 2     NaN
 3    23.0
 4     NaN
 5    29.0
 6    23.0
 dtype: float64,
 'Rating': 0    4.23
 1    3.24
 2    3.98
 3    2.56
 4     NaN
 5    4.60
 6     NaN
 dtype: float64}

In [67]:
df2["Name"].fillna("admin")
df2

AttributeError: ignored

In [68]:
df=pd.DataFrame(df2)

In [69]:
df

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
2  Ricky   NaN    3.98
3  Messi  23.0    2.56
4  Steve   NaN     NaN
5    NaN  29.0    4.60
6   Jack  23.0     NaN

In [71]:
df["Name"].fillna("john",inplace=True)

In [72]:
df

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
2  Ricky   NaN    3.98
3  Messi  23.0    2.56
4  Steve   NaN     NaN
5   john  29.0    4.60
6   Jack  23.0     NaN

In [75]:
#replace null  value of age bu mean value
mean=df["Age"].mean()

In [76]:
mean

25.2

In [77]:
df["Age"].fillna(mean)

0    25.0
1    26.0
2    25.2
3    23.0
4    25.2
5    29.0
6    23.0
Name: Age, dtype: float64

In [78]:
#replace null value of rating by mean 
rmean=df["Rating"].mean()

In [79]:
rmean

3.722

In [80]:
df["Rating"].fillna(rmean)

0    4.230
1    3.240
2    3.980
3    2.560
4    3.722
5    4.600
6    3.722
Name: Rating, dtype: float64

In [82]:
df.dropna()

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
3  Messi  23.0    2.56
5   john  29.0    4.60

In [84]:
df["Age"].dropna()

0    25.0
1    26.0
3    23.0
5    29.0
6    23.0
Name: Age, dtype: float64

In [86]:
df.dropna()

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
3  Messi  23.0    2.56
5   john  29.0    4.60

In [92]:
df.drop("Rating",axis=1)
df

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
2  Ricky   NaN    3.98
3  Messi  23.0    2.56
4  Steve   NaN     NaN
5   john  29.0    4.60
6   Jack  23.0     NaN

In [96]:
df.drop([2,5],axis=0)

    Name   Age  Rating
0    Tom  25.0    4.23
1  James  26.0    3.24
3  Messi  23.0    2.56
4  Steve   NaN     NaN
6   Jack  23.0     NaN

In [98]:
df3={'name':['smith','jhon','tom','micky','belly','fizz','ricky'],'age':[25,26,25,23,30,29,23],
    'rating':[4.23,3.24,3.98,2.56,3.20,4.60,3.80]}
df3=pd.DataFrame(dt)
df3

    name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80

In [99]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   age     7 non-null      int64
 2   rating  7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 296.0+ bytes

In [100]:
df3.describe()

             age    rating
count   7.000000  7.000000
mean   25.857143  3.658571
std     2.734262  0.698628
min    23.000000  2.560000
25%    24.000000  3.220000
50%    25.000000  3.800000
75%    27.500000  4.105000
max    30.000000  4.600000

In [103]:
df3.sum()

name      smithjhontommickybellyfizzricky
age                                   181
rating                              25.61
dtype: object

In [104]:
df3["rating"].mean()

3.658571428571429

In [105]:
df3["age"].min()

23

In [106]:
df3["rating"].max()

4.6

In [107]:
df3["age"].std()

2.734262327610589

In [109]:
df3.head(4)

    name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56

In [110]:
df3.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['name', 'age', 'rating'], dtype='object')]

In [111]:
df3.dtypes

name       object
age         int64
rating    float64
dtype: object

In [112]:
df3.ndim

2

In [113]:
df3.shape

(7, 3)

In [114]:
df3.size

21

In [115]:
df3.idxmax

<bound method DataFrame.idxmax of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>

In [116]:
df3.duplicated

<bound method DataFrame.duplicated of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>

In [117]:
df3.expanding

<bound method NDFrame.expanding of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>

In [118]:
df3.value_counts

<bound method DataFrame.value_counts of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>

In [119]:
df3.values

array([['smith', 25, 4.23],
       ['jhon', 26, 3.24],
       ['tom', 25, 3.98],
       ['micky', 23, 2.56],
       ['belly', 30, 3.2],
       ['fizz', 29, 4.6],
       ['ricky', 23, 3.8]], dtype=object)

In [120]:
df3.keys

<bound method NDFrame.keys of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>

In [121]:
df.tail()

    name  age  rating
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80

In [122]:
df.tail(3)

    name  age  rating
4  belly   30     3.2
5   fizz   29     4.6
6  ricky   23     3.8

In [123]:
df.floordiv

<bound method flex_arith_method_FRAME.<locals>.f of     name  age  rating
0  smith   25    4.23
1   jhon   26    3.24
2    tom   25    3.98
3  micky   23    2.56
4  belly   30    3.20
5   fizz   29    4.60
6  ricky   23    3.80>